[Unit]
Description=Linux kernel implementation of TCP synproxy with iptables
# https://r00t-services.net/knowledgebase/14/Homemade-DDoS-Protection-Using-IPTables-SYNPROXY.html

[Service]
Type=oneshot
ExecStart=/usr/bin/synproxy-iptables.sh
ExecStopPost=/usr/bin/flushIptables
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
