[Unit]
Description=Linux kernel implementation of inline TCP synproxy with iptables and OpenvSwitch
After=openvswitch-switch.service

[Service]
ExecStartPre=/bin/systemctl stop synproxy-disable
ExecStartPre=/bin/systemctl stop synproxy-nmsynproxy
ExecStartPre=/usr/bin/ovs-vsctl --if-exists del-br ovs-synproxy
ExecStart=/usr/bin/synproxy_dataplane.py --nic-wan wan0 --nic-wanp wan0p --ipaddr 10.0.0.14 --port 12345 --standalone --default-tcpmss 1460 --default-tcpsack 1 --default-tcpwscale 7 --secure-net 100.64.1.130/32 100.64.1.131/32 100.64.1.132/32 100.64.1.133/32 100.64.1.134/32 100.64.1.135/32 100.64.1.136/32 100.64.1.137/32 100.64.1.138/32 100.64.1.139/32 100.64.1.140/32 100.64.1.141/32 100.64.1.142/32 --default-gw --ratelimit 100 100
ExecStopPost=/usr/bin/ovs-vsctl --if-exists del-br ovs-synproxy

[Install]
WantedBy=multi-user.target
