[Unit]
Description=Stop any running TCP Synproxy instance

[Service]
Type=oneshot
ExecStartPre=/bin/systemctl stop synproxy-iptables
ExecStartPre=/bin/systemctl stop synproxy-nmsynproxy
ExecStart=/usr/bin/synproxy-disable.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
