[Unit]
Description=run script(s) at startup

[Service]
WorkingDirectory=/
ExecStart=/sbin/runatstartup
Restart=no

[Install]
WantedBy=multi-user.target
